# disease_prediction_model.pkl
# feature_names.pkl
# label_encoder.pkl
# symptom_translation.json
media/uploads/6be9cf4349f741daad14a8a0a0e22c53_recording_processed.wav
media/uploads/6be9cf4349f741daad14a8a0a0e22c53_recording.wav
media/uploads/72593669463b45dd8d2247c969619715_recording_processed.wav
media/uploads/72593669463b45dd8d2247c969619715_recording.wav
media/uploads/a1036944a7ad4d70b6b75d2b0c8612c6_recording_processed.wav
media/uploads/a1036944a7ad4d70b6b75d2b0c8612c6_recording.wav
media/uploads/cecec15200df474ba66120753cbdab42_recording_processed.wav
media/uploads/cecec15200df474ba66120753cbdab42_recording.wav
# Ignore these files
.env
*.log
__pycache__/
node_modules/
# Ignore compiled Python files
*.pyc
__pycache__/
*/__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Optional: ignore virtual environments if needed
venv/
.env/
