# disease_prediction_model.pkl
# feature_names.pkl
# label_encoder.pkl
# symptom_translation.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Optional: ignore virtual environments if needed
venv/
.env/
